*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
}
p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
    font-size: 18px;
}
html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.info{
    margin-left: auto;
    padding: 25px;
    left: 0;
    width: 50%;
}